<div class="form-group">
    <label>{{data.featType.label}}</label>
    <select name="data.featType.value" data-dtype="{{data.featType.type}}">
        {{#select data.featType.value}}
        {{#each featTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{data.requirements.label}}</label>
    <input type="text" name="data.requirements.value" value="{{data.requirements.value}}"
           data-dtype="{{data.requirements.type}}"/>
</div>

<div class="form-group">
    <label>{{data.ability.label}}</label>
    <select name="data.ability.value" data-dtype="{{data.ability.type}}">
        {{#select data.ability.value}}
        <option value=""></option>
        {{#each abilities as |ability a|}}
        <option value="{{a}}">{{ability.label}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{data.damage.label}}</label>
    <input type="text" name="data.damage.value" value="{{data.damage.value}}" data-dtype="{{data.damage.type}}"/>
</div>

<div class="form-group">
    <label>{{data.damageType.label}}</label>
    <select name="data.damageType.value" data-dtype="{{data.damageType.type}}">
        {{#select data.damageType.value}}
        <option value=""></option>
        {{#each damageTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{data.save.label}}</label>
    <select name="data.save.value" data-dtype="{{data.save.type}}">
        {{#select data.save.value}}
        <option value=""></option>
        {{#each abilities as |ability a|}}
        <option value="{{a}}">{{ability.label}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{data.target.label}}</label>
    <input type="text" name="data.target.value" value="{{data.target.value}}" data-dtype="{{data.target.type}}"/>
</div>

<div class="form-group">
    <label>{{data.range.label}}</label>
    <input type="text" name="data.range.value" value="{{data.range.value}}" data-dtype="{{data.range.type}}"/>
</div>

<div class="form-group">
    <label>{{data.time.label}}</label>
    <input type="text" name="data.time.value" value="{{data.time.value}}" data-dtype="{{data.time.type}}"/>
</div>

<div class="form-group">
    <label>{{data.duration.label}}</label>
    <input type="text" name="data.duration.value" value="{{data.duration.value}}" data-dtype="{{data.duration.type}}"/>
</div>
